{% extends 'courseinfo/base.html' %}

{% block title %}
    Course - {{ course }}
{% endblock %}

{% block content %}
    <h2>{{ course }}</h2>
    <ul>
        <li>
            <a href="{{ course.get_update_url }}"> Edit Course </a>
        </li>
        <li>
            <a href="{{ course.get_delete_url }}"> Delete Course </a>
        </li>
    </ul>

    <section>
        <table>
            <tr>
                <th>Course Number:</th>
                <td>{{ course.course_number }}</td>
            </tr>
            <tr>
                <th>Course Name:</th>
                <td>{{ course.course_name }}</td>
            </tr>
        </table>
    </section>

    <section>
        <h3>Sections</h3>
        <ul>
            {% for section in section_list %}
                <li>
                    <a href="{{ section.get_absolute_url }}">{{ section }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no sections for this course.</em></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
