{% extends 'courseinfo/base.html' %}

{% block title %}
    Update Instructor
{% endblock %}

{% block content %}
    <form action="{{ instructor.get_update_url }}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update Instructor</button>
    </form>
{% endblock %}
