{% extends 'courseinfo/base.html' %}

{% block title %}
    Create Registration
{% endblock %}

{% block content %}
    <form action="{% url 'courseinfo_registration_create_urlpattern' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create Registration</button>
    </form>
{% endblock %}
