{% extends 'courseinfo/base.html' %}

{% block title %}
    registration - {{ registration }}
{% endblock %}

{% block content %}
    <h2>{{ registration }}</h2>
    <ul>
        <li>
            <a href="{{ registration.get_update_url }}"> Edit Registration </a>
        </li>
        <li>
            <a href="{{ registration.get_delete_url }}"> Delete Registration </a>
        </li>
    </ul>

    <section>
        <table>
            <tr>
                <th>Section Names:</th>
                <td><a href="">{{ section }}</a></td>
            </tr>
        </table>
    </section>
    <section>
        <table>
            <tr>
                <th>Student First Name:</th>
                <td>{{ student.first_name }}</td>
            </tr>
            <tr>
                <th>Student Last Name:</th>
                <td>{{ student.last_name }}</td>
            </tr>
        </table>
    </section>
{% endblock %}
