{% extends 'courseinfo/base.html' %}

{% block title %}
    Section - {{ section }}
{% endblock %}

{% block content %}
    <h2>{{ section }}</h2>
    <ul>
        <li>
            <a href="{{ section.get_update_url }}"> Edit Section </a>
        </li>
        <li>
            <a href="{{ section.get_delete_url }}"> Delete Section </a>
        </li>
    </ul>

    <section>
        <table>
            <tr>
                <th>Course:</th>
                <td><a href="{{ course.get_absolute_url }}">{{ course }}</a></td>
            </tr>
            <tr>
                <th>Section Name:</th>
                <td>{{ section.section_name }}</td>
            </tr>
            <tr>
                <th>Semester:</th>
                <td><a href="{{ semester.get_absolute_url }}">{{ semester }}</a></td>
            </tr>

            <tr>
                <th>Instructor:</th>
                <td><a href="{{ instructor.get_absolute_url }}">{{ instructor }}</a</td>
            </tr>
        </table>

    </section>

    <section>
        <h3>Registrations</h3>
        <ul>
            {% for registration in registration_list %}
                <li>
                    <a href="{{ registration.get_absolute_url }}">{{ registration.student }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no students registered for this section.</em></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
