{% extends 'courseinfo/base.html' %}

{%  block title %}
    Section List
{% endblock %}

{% block content %}
    <h2>Section List</h2>
    <div>
        <a href="{% url 'courseinfo_section_create_urlpattern' %}">
            Create New Section
        </a>
    </div>
    <ul>
        {% for section in section_list %}
            <li>
                <a href = "{{ section.get_absolute_url }}">{{ section }}</a>
            </li>
        {% empty %}
            <li><em>There are currently no sections available. </em></li>
        {% endfor %}
    </ul>
{% endblock %}
