
    
{% extends 'courseinfo/base.html' %}

{% block title %}
    Semester - {{ semester }}
{% endblock %}

{% block content %}
    <h2>{{ semester }}</h2>
    <ul>
        <li>
            <a href="{{ semester.get_update_url }}"> Edit Semester </a>
        </li>
        <li>
            <a href="{{ semester.get_delete_url }}"> Delete Semester </a>
        </li>
    </ul>

    <section>
        <table>
            <tr>
                <th>Semester Name:</th>
                <td>{{ semester.semester_name }}</td>
            </tr>
        </table>
    </section>

    <section>
        <h3>Sections</h3>
        <ul>
            {% for section in section_list %}
                <li>
                    <a href="{{ section.get_absolute_url }}">{{ section }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no sections for this semester.</em></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
