{% extends 'courseinfo/base.html' %}

{% block title %}
    Student - {{ student }}
{% endblock %}

{% block content %}
    <h2>{{ student }}</h2>
    <ul>
        <li>
            <a href="{{ student.get_update_url }}"> Edit Student </a>
        </li>
        <li>
            <a href="{{ student.get_delete_url }}"> Delete Student </a>
        </li>
    </ul>

    <section>
        <table>
            <tr>
                <th>First Name:</th>
                <td>{{ student.first_name }}</td>
            </tr>
            <tr>
                <th>Last Name:</th>
                <td>{{ student.last_name }}</td>
            </tr>
            <tr>
                <th>Nick Name:</th>
                <td>{{ student.nickname }}</td>
            </tr>
        </table>
    </section>

    <section>
        <h3>Registrations</h3>
        <ul>
            {% for registration in registration_list %}
                <li>
                    <a href="{{ registration.get_absolute_url }}">{{ registration }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no registration for this student.</em></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
